<h1>New Donor</h1>

<%= form_for @recipient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br />
  <%= f.label :blood_type %>
  <%= f.text_field :blood_type %>
  <br />
  <%= f.submit %>
<% end %>
