<h1>New Donor</h1>

<%= form_for @donation do |f| %>
  <%= f.label :donor_id %>
  <%= f.text_field :donor_id %>
  <br />
  <%= f.label :recipient_id %>
  <%= f.text_area :recipient_id %>
  <br />
  <%= f.submit %>
<% end %>
